.card {
    list-style: none;
    font-size: 1.1em;
    text-shadow: 0px 0px 5px black;
}
.titulo {
    font-size: 1.4rem;
}

.eununca-primario * {
    list-style: none;
    position: relative;
	margin: 0px;
    text-decoration: none;
	padding: 0px;
}
.eununca-primario {
    color: #ff6a6a;
}
.eununca-primario ul {
	background-color: #0a063e;
    border-radius: 4px;
    color: aliceblue;
}

.eununca-primario ul li {
    display: none;
	/* position:absolute; */
	padding: 5px;
    margin: 0px;
    text-indent: 0;
}

.eununca-primario:hover ul > li {
    display: block;
}

.eununca-primario ul li a {
    color: #2ec761;
}
.eununca-primario ul li a:hover {
    color: #d6dfe8;
    transition: 0.3s color;
}